[submodule "vendor/opentelemetry-proto"]
	path = vendor/opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto
[submodule "vendor/atomic"]
	path = vendor/atomic
	url = https://github.com/c-cube/ocaml-atomic.git
